.custom-parameters {
    padding-left: 20px;
    width: 22%;
    float: left;
    border-left: 1px solid #ddd;
}
.inner {
    min-height: 500px;
    padding: 10px;
}
.parameter {
    width: 23%;
    float: left;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
    float: left;
}
.table-row .col-lg-10 {
    padding: 0 !important;
    padding-left: 3px !important;
}
.table-row input {
    padding: 0 !important;
}
.color {
    color: #6e6e6e;
}
.logo {
    padding: 10px;
}