.custom-parameters {
    padding-left: 20px;
    width: 240px;
    float: left;
    border-left: 1px solid #ddd;
}
.inner {
    min-height: 250px;
    padding: 10px;
}
.parameter {
    width: 220px;
    float: left;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
    float: left;
}
.raza {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}